<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <link rel="stylesheet" href="../styles/styles.css">
  <!-- <link rel="stylesheet" href="./node_modules/photon-css/dist/photon.css"> -->
  <link rel="stylesheet" href="../../photon-0.1.2-dist/css/photon.min.css">

  <title>Cars Management</title>
</head>

<body>
  <div class="window">
    <header class="toolbar toolbar-header">
      <h1 class="title">Cars Management</h1>
    </header>
    <div class="window-content">
      <div class="pane-group">
        <div class="pane-sm sidebar">
          <div class="flex-col h-full">
            <button id="view" class="button btn btn-primary"> View</button>
            <button id="add" class="button btn btn-primary"> Add</button>
          </div>
        </div>
        <div id="root" class="pane">
          <p id="info"></p>
          <!-- main syntax goes here -->
          <!-- Table to view data -->
          <div class="visible" id="table">
            <div class="flex ml">
              <p>Search: </p>
              <form action="" class="flex">
                <input type="search" class="margin" placeholder="Search in Bill">
                <input type="submit" value="Search" class="button btn btn-default">
              </form>
            </div>
            <table>
              <thead>
                <tr>
                  <td>Bill #</td>
                  <td>Job #</td>
                  <td>Estimate #</td>
                  <td>Car Name</td>
                  <td>Client Name</td>
                  <td>Client Phone</td>
                  <td>Status</td>
                  <td>Number Of Parts</td>
                  <td>Total Bill</td>
                  <td>Discount</td>
                  <td colspan="3">Actions</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>345678</td>
                  <td>345678</td>
                  <td>345678</td>
                  <td>Suzuki</td>
                  <td>Faheem</td>
                  <td>1234567</td>
                  <td>Discharged</td>
                  <td>14</td>
                  <td>Rs.45678</td>
                  <td>10%</td>
                  <td>
                    <button class="btn btn-primary">
                      View
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-default">
                      Edit
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-negative">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Table to view data ends -->
          <!-- Form to create data -->
          <div class="hidden" id="form">
            <form action="" class="flex-center" id="entryForm">
              <div class="flex-cols">

                <div class="flex">
                  <div class="form-group">
                    <label for="">Bill Number</label>
                    <input type="text" class="form-control" id="bill_no">
                  </div>
                  <div class="form-group">
                    <label for="">Job Number</label>
                    <input type="text" class="form-control" id="job_no">
                  </div>
                  <div class="form-group">
                    <label for="">Estimate Number</label>
                    <input type="text" class="form-control" id="est_no">
                  </div>
                </div>

                <div class="flex">
                  <div class="form-group">
                    <label for="">Total Cost</label>
                    <input type="text" class="form-control" id="total_cost">
                  </div>
                  <div class="form-group">
                    <label for="">Number Of Parts</label>
                    <input type="text" class="form-control" id="no_of_parts">
                  </div>
                  <div class="form-group">
                    <label for="">Car</label>
                    <select name="" class="form-control" id="car_id">
                      <option value="">Unpaid</option>
                      <option value="">Paid</option>
                      <option value="">Under-Observation</option>
                      <option value="">Job Done</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="">Status</label>
                  <select name="" class="form-control" id="status">
                    <option value="">Unpaid</option>
                    <option value="">Paid</option>
                    <option value="">Under-Observation</option>
                    <option value="">Job Done</option>
                  </select>
                </div>

                <input type="submit" class="button btn btn-primary" value="Create Bill">
              </div>
            </form>
          </div>
          <!-- Form to create data ends -->

          <!-- main syntax goes here -->
        </div>
      </div>
    </div>
    <footer class="toolbar toolbar-footer">
      <h1 class="title">Footer</h1>
    </footer>
  </div>
  <script src="./cars.js"></script>

</body>

</html>